* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #000000;
}

button {
    font-family: inherit;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    padding: 100px 0;
    background: #E5E5E5;
}

.overlay {
    display: flex;
    flex-direction: column;
    width: 1080px;
    margin: 0 auto;
    background: #FF8577;
    background-image: url('../images/yellow-shape.png') ,url('../images/blue-shape.png');
    background-repeat: no-repeat;
    background-position: left top, bottom right;


}

.overlay__title {
    align-self: flex-end;
    margin-top: 88px;
    margin-bottom: 52px;
    margin-right: 43px;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}

.model {
    width: 699px;
    height: 305px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 40px;
    background: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
}

.model__title {
    margin-bottom: 44px;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
}

.model__text--red {
    font-weight: bold;
    color: #ff0000;
}

.model__text {
    max-width: 476px;
    margin-bottom: 44px;
    font-size: 17px;
    line-height: 24px;
}

.model__container-buttons {
    display: flex;
    justify-content: space-between;
}

.modal__button {
    display: block;
    padding: 16px 58px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #1F1F1F;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 6px;
}

.modal__button--active {
    padding: 16px 72px;
    color: #FFFFFF;
    background: #222222;
    border-radius: 6px;
}

.overlay__footer {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.overlay__button {
    margin-left: 24px;
    padding: 16px 58px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF; 
    background-color: #FF8577;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
}

.overlay__img {
    width: 74px;
    height: 30px;
    margin-left: 19px;
    background: url('../images/arrow-left.png') no-repeat center; 
}

.overlay__text {
    margin-left: 13px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
